.headerLogin{
    min-height: 20vh;
}
.headerMain{
    min-height: 10vh
}
.logoImage{
    width: 125px;
    margin: 0em 1em;
}
.mainHeaderLogoImage{
    width: 50px;
}
.searchSelectDropdown{
    width: max-content;
}
.headerProfile{
    width: 40px;
    height: 40px;
    border: 1px outset #333;
}
.profileModal{
    z-index: 100;
    position: absolute;
    top: 10%;
    right: 0;
}