.homeMain {
    min-height: 76.2vh;
}
.loginMain {
    min-height: 70vh;
}
.activeNavItem button {
    content: "";
    border-bottom:5px solid #FFCA2C;
}
.tableWidth{
    min-width: 1000px;
}
.navMenu{
    z-index: 1;
}
.eraseBtnShadow:focus {
    box-shadow: none !important;
}
.footer {
    min-height: 10vh;
}