.homeMain {
    min-height: 80vh;
}
.loginMain {
    min-height: 70vh;
}
.activeNavItem {
    content: "";
    border-bottom: 5px solid #FFCA2C;
}
.tableWidth{
    min-width: 1000px;
}
.footer {
    height: 10vh;
}